$primary-color: #0d1a3a;

body {
  background: url("../img/space.jpg");
  font-family: 'Roboto', Arial, sans-serif;
  background-size: cover;
  color: $primary-color;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-size: 20px;
}

h1 {
  font-size: 55px;
}

button {
  background: rgba(255,255,255,0.5);
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  padding: 13px 40px;
  cursor: pointer;
  color: $primary-color;
  font-weight: bold;
}

input {
  border: 2px solid $primary-color;
  font-size: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  color: $primary-color;
  font-weight: bold;
  padding: 13px;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.welcome-screen {
  text-align: center;
  font-weight: bold;
  padding: 1px;
}

.welcome-screen__inner {
  background: rgba(255, 255, 255, 0.5);
  width: 1000px;
  margin: 100px auto 10px;
  padding: 13px 13px 50px;
}

.welcome-screen__back {
  text-align: left;
}

.multiple {
  display: flex;

  .main-screen,
  .competitor-screen {
    position: relative;
    width: 50%;
    height: 100vh;
  }

  .competitor-screen canvas {
    margin: auto;
  }
}

.link {
  color: $primary-color;
}